common:
  dir_path: "/path/to/your/data/"
  # root_dir + path
  imu_file_name: "imu_data.txt"
  lid_dir_name: "pcd/"
  img_dir_name: "image/"
  save_path: "/Log/PCD/"                                  # "/path/to/save/pointcloud/"
  save_epoch: -1 # -1: all frames will be saved

  imu_en: true
  img_en: 1
  lidar_en: 1
  camera_config_name: "camera_pinhole.yaml"           # "/path/to/camera/config"

# saved to /Log/pcd
pcd_save:
  # how many LiDAR frames saved in each pcd file;
  # pcd_save_type 0 && interval -1 : all frames will be saved in ONE pcd file, may lead to memory crash when having too much frames.
  # pcd_save_type 0 && interval != -1 : solely save each pcd file
  # pcd_save_type 1 : for global_lvba
  pcd_save_en: true
  pcd_save_type: 1        # 0 for world, 1 for body
  colmap_output_en: true  # need to set interval = -1
  filter_size_pcd: 0.1
  interval: -1

# saved to /Log/image
image_save:
  img_save_en: true
  interval: 1

extrin_calib:
  extrinsic_T: [0.02647347, 0.05913955, -0.02770867]
  extrinsic_R: [-0.99998974, 0.00412669, 0.00186605,
                0.00181581, -0.01214385, 0.99992461,
                0.00414904, 0.99991775, 0.01213624]
  Rcl: [0.999686,     0.00376204, 0.0247621,
        -0.00348968,  0.999933,   -0.0110333,
        -0.024802,    0.0109434,  0.999632]
  Pcl: [0.00012788176646623279,
        0.01630264791514122,
        0.00017512556539685652]

time_offset: 
  lidar_time_offset: 0.00
  imu_time_offset: -0.035
  img_time_offset: -0.0
  exposure_time_init: 0
  lid_time_interval: 0.067

preprocess:
  point_filter_num: 3
  filter_size_surf: 0.1
  lidar_type: 8
  scan_line: 96
  blind: 0.5
  feature_extract_enabled: false

imu:
  imu_int_frame: 30
  acc_cov: 0.3
  gyr_cov: 0.5
  b_acc_cov: 0.001
  b_gyr_cov: 0.001
  gravity_est_en: true
  ba_bg_est_en: true

vio:
  max_iterations: 10
  outlier_threshold: 1000 # 78 100 156 #100 200 500 700 infinite
  img_point_cov: 100 # 100 1000 
  patch_size: 8
  patch_pyrimid_level: 3
  normal_en: true
  raycast_en: false
  inverse_composition_en: false
  exposure_estimate_en: true
  inv_expo_cov: 0.1
  grid_size: 5
  grid_n_height: 17

lio:
  max_iterations: 10
  dept_err: 0.02
  beam_err: 0.05
  min_eigen_value: 0.0025 # 0.005
  voxel_size: 0.5
  max_layer: 2
  max_points_num: 50
  layer_init_num: [5, 5, 5, 5, 5]
  sigma_num: 3.0

local_map:
  map_sliding_en: false
  half_map_size: 100
  sliding_thresh: 8

uav:
  imu_rate_odom: false
  gravity_align_en: true

publish:
  dense_map_en: false
  pub_effect_point_en: false
  pub_plane_en: false
  pub_scan_num: 1
  blind_rgb_points: 0.0

debug:
  plot_time: -10.0
  frame_cnt: 6
